.borderlinks:hover {
    border: 2px solid powderblue;
    border-radius: 50px;
    padding: 2px 5px 2px 5px;
    color: black;
    font-weight: bold;
    box-shadow: 7px 7px 5px grey;
}


html{
    scroll-behavior: smooth;
}

body{
    background-color: yellowgreen
}

#about,
#gallery,
#feedback,
#contact{
   /* font: 40 20px/1.3 'Lobster Two', Helvetica, sans-serif;*/
   font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.5px;
}

#video{
    width:853px;
    height:480px;
    frameborder:0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 20;
    left: 30%;
    width: 100%;
    height: 100%;
}

#rotate{
    width: 50%;
}