.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    align-content: space-between;
    position: fixed;
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /*#navbar a:hover {
    background-color: #ddd;
    color: black;
  }*/
  
  a:hover {
    background-color: #ddd;
    color:red;
  }

  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    /*position: fixed;*/
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }